<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <!-- services -->

    <!--  Constructor based injection  -->
    <bean id="employeeController" class="uk.co.allianz.training.controller.EmployeeController">
        <constructor-arg ref="employeeService"/>
    </bean>

    <bean id="employeeService" class="uk.co.allianz.training.service.EmployeeService">

    </bean>

    <bean id="setterEmployee" class="uk.co.allianz.training.controller.SetterController" >
        <property name="employeeService" ref="employeeService"/>
    </bean>


</beans>